body
{
	margin: 0;
	padding: 0;
	background-color: #264f91;
	font-size: 16px;
	color: #777;
	font-family: sans-serif;
	font-weight: 300;
}
	
#resume-form
{
	position: absolute;
	top: 85%;
	left: 50%;
	height: 1100px;
	width: 800px;
	background: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
	box-sizing: border-box;
	transform: translate(-50%,-50%);
	padding: 10px 40px 0px 40px;
	margin-bottom: 10px;
	margin-top: 10px
	
}

h4
{
	text-align: center;
	color: #ebebeb;
	padding: 5px;
	background: black;
	font
}

.heading-left
{
	position: absolute;
	top: 0;
	right: 25%;
	font-family: verdana;
	font-size: 16px;
	text-align: left;
	color: black;
	padding: 10% 50px;
}

.heading-right
{
	position: absolute;
	padding: 40px 40px;
	
}

.info
{
	position: absolute;
	top: 23%;
	width: 90%;
	box-sizing: border-box;
	text-align: center;
	font-size: 16px;
	font-style: bold;
	color: black;
}

ul
{
	text-align:left;
    list-style-position: inside;
}
 
ol
{
	text-align:left;
	list-style-position: inside;
}

.li1
{
	padding-left: 25%;
}
.li2
{
	padding-left: 5%;
}

.img {
	width: 180px;
	height: 180px;
	border: 2px solid #000000;
}

.img:hover {
  box-shadow: 0 0 3px 2px rgba(6, 155, 255, 0.5);
}

.myButton {
	box-shadow: 0px 0px 0px 0px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #00375c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:8px 36px;
	text-decoration:none;
	text-shadow:0px 0px 0px #283966;
}

.myButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #005d9c 100%);
	background-color:#476e9e;
}

.myButton:active {
	position:relative;
	top:1px;
}